Flask==2.2.3
Flask-SQLAlchemy>=3.0.0
Flask-Migrate>=4.0.0
Flask-Login>=0.6.0
Flask-WTF>=1.0.0
Flask-Bcrypt>=1.0.0
python-dotenv>=1.0.0
Werkzeug==2.2.3
tensorflow==2.11.0
numpy==1.23.5
pandas==1.5.3
opencv-python==4.7.0.72
matplotlib==3.7.1
Pillow==9.4.0
requests
gunicorn
psycopg2-binary
scikit-learn==1.2.2
seaborn
tqdm
fpdf2
